@media only screen and (max-width:480px) {
    html {
        font-size: 1px;
    }

    .topnavbar {
        height: 50px;
    }

    #logo {
        width: 10%;
    }


    #address {
        width: 12%;

    }

    #locationlogo {
        font-size: 5rem;
        margin-right: 2rem
    }

    #hello {
        margin-left: 0%;
    }

    #hello p {
        font-size: 5rem;
    }

    #hello span {
        font-size: 4rem;
    }

    #search {
        width: 40%;
    }

    #all {
        width: 20%;
        height: 20px;
    }

    #all select {
        font-size: 4rem;
        text-indent: 0%;

    }

    #searchbar {
        width: 75%;
        height: 20px;
    }

    #searchbar input {
        font-size: 5rem;

    }

    #searchlogo {
        width: 15%;
        height: 20px;

    }

    #searchlogo button {
        font-size: 10rem;
    }


    #language {
        width: 4%;
    }

    #language h3 {
        font-size: 15rem;
    }

    #language div {
        display: none;
    }


    #account {
        width: 10%;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }

    #sign {
        font-size: 5rem;
        padding-top: 0%;

    }

    #account1 {
        font-size: 5rem;


    }


    #return {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #return1 {
        font-size: 5rem;
        padding-top: 0%;
    }

    #Orders {
        font-size: 6rem;

    }

    #cart {
        width: 7%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #cartimg i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 12rem;
    }

    #cart h1 {

        width: 0%;
        display: none;
    }




    .secondnavbar {
        height: 14px;

    }

    .left {
        width: 70%;
    }




    #span1 {
        font-size: 7rem;
        width: 5%;

    }

    #span2 {
        font-size: 6rem;
        width: 18%;

    }

    #span3 {
        font-size: 6rem;
        width: 7%;

    }

    #span4 {
        font-size: 6rem;
        width: 14%;

    }

    #span5 {
        font-size: 6rem;
        width: 17%;

    }

    #span6 {
        font-size: 6rem;
        width: 9%;

    }

    #span7 {
        display: none;

    }

    #span8 {
        display: none;

    }

    #span9 {
        display: none;

    }

    #span10 {
        display: none;
    }

    #span11 {
        display: none;

    }


}

@media only screen and (min-width:481px) and (max-width:700px) {


    html {
        font-size: 1px;
    }

    .topnavbar {
        height: 50px;
    }

    #logo {
        width: 12%;
    }


    #address {
        width: 12%;

    }

    #locationlogo {
        font-size: 7rem;
        margin-right: 2rem
    }

    #hello {
        margin-left: 0%;
    }

    #hello p {
        font-size: 7rem;
    }

    #hello span {
        font-size: 5rem;
    }

    #search {
        width: 40%;
    }

    #all {
        width: 17%;
        height: 22px;
    }

    #all select {
        font-size: 7rem;
        text-indent: 0%;

    }

    #searchbar {
        width: 75%;
        height: 22px;
    }

    #searchbar input {
        font-size: 7rem;

    }

    #searchlogo {
        width: 15%;
        height: 22px;

    }

    #searchlogo button {
        font-size: 12rem;
    }


    #language {
        width: 4%;
    }

    #language h3 {
        font-size: 20rem;
    }

    #language div {
        display: none;
    }


    #account {
        width: 10%;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }

    #sign {
        font-size: 7rem;
        padding-top: 0%;

    }

    #account1 {
        font-size: 6rem;


    }


    #return {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #return1 {
        font-size: 7rem;
        padding-top: 0%;
    }

    #Orders {
        font-size: 8rem;

    }

    #cart {
        width: 7%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #cartimg i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 10rem;
    }

    #cart h1 {

        width:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10rem;
    }




    .secondnavbar {
        height: 19px;

    }

    .left {
        width: 70%;
    }




    #span1 {
        font-size: 7rem;
        width: 5%;

    }

    #span2 {
        font-size: 7rem;
        width: 18%;

    }

    #span3 {
        font-size: 7rem;
        width: 7%;

    }

    #span4 {
        font-size: 7rem;
        width: 14%;

    }

    #span5 {
        font-size: 7rem;
        width: 17%;

    }

    #span6 {
        font-size: 7rem;
        width: 9%;

    }

    #span7 {
        font-size: 7rem;
        width: 19%;

    }

    #span8 {
        display: none;

    }

    #span9 {
        display: none;

    }

    #span10 {
        display: none;
    }

    #span11 {
        display: none;

    }



}